@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("variables.css");
@import url("flipBookStyle.css");
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --main-color: #9e8751;
    --main-bg-start: rgb(var(--background-start-rgb));
    --main-bg-end: rgb(var(--background-end-rgb));
    --secondary-color: #55edb2;
    --ternary-color: #edb93e;
    --error-color: #f00;
    --text-color: #110e0e;
  }
}

p {
  @apply text-sm sm:text-base;
  font-size: var(--body-font-size);
  font-family: nunito, sans-serif;
  font-weight: 400;
  text-indent: 0.5rem;
  color: var(--text-color-80)
}

b {
  @apply text-lg
}

i {
  color: var(--text-color-100)
}
div {
  @apply text-base;
  font-size: var(--body-font-size);
  font-family: nunito, sans-serif;
  font-weight: 400;
  text-indent: 0.5rem;
  color: var(--text-color-80)
}
@layer components {
  h1 {
    @apply sm:text-4xl  text-3xl font-bold mb-4 text-gray-900 flex items-center;
    font-family: "Roboto", sans-serif;
  }

  h2 {
    @apply sm:text-3xl  text-2xl font-bold mb-2 text-gray-800;
    font-family: "Roboto", sans-serif;
  }

  h3 {
    @apply sm:text-2xl  text-xl font-bold mb-2 text-gray-700;
    font-family: "Oswald", sans-serif;
  }

  h4 {
    @apply sm:text-xl  text-lg font-bold mb-2 text-gray-600;
    font-family: "Sans", sans-serif;
  }

  h5 {
    @apply  sm:text-lg text-base font-bold mb-2 text-gray-600;
    font-family: "sans-serif";
  }

  h6 {
    @apply sm:text-base  text-sm font-bold mb-2 text-gray-500;
    font-family: "sans-serif";
  }


  button {
    @apply font-normal leading-tight uppercase m-4 p-3;
    font-family: "Inder", sans-serif;
    color: white;
    font-weight: 700;
    transition: box-shadow 150ms;
    min-width: 5rem;
    min-height: 3rem;
    border-radius: 4px;
    border-color: #110e0e;
    text-transform: uppercase;
    /* text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000; */
  }

  button:hover {
    transform: scale(1.1); /* You can adjust the scale factor as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the box-shadow as needed */
  }

  .big-btn {
    min-width: 6rem;
    height: 4rem;
    border-color: #110e0e;
  }

  .nav-btn {
    @apply bg-[var(--primary-color-40)] py-1 px-2 lg:px-3 justify-center items-center md:m-2 rounded-lg;
    transition: box-shadow 150ms;
    box-shadow: none;
  }

  .btn-clicked {
    @apply flex items-center justify-center gap-8 rounded bg-secondary-color;
    box-shadow: inset 0 0 0 2px black;
    color: var(--text-color-80);
  }


  .nav-btn:hover {
    @apply bg-[var(--secondary-color-60)];
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }

  .nav-btn:active {
    @apply bg-[var(--secondary-color-80)];
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  .action-button {
    @apply font-normal leading-tight uppercase m-4 p-3;
    font-family: "Inder", sans-serif;
    color: white;
    font-weight: 700;
    transition: box-shadow 150ms;
    min-width: 5rem;
    height: 3rem;
    border-radius: 4px;
    border: 2px solid var(--primary-color);

    /* Additional styling for the action button */
    background-color: var(--primary-color);
  }

  .action-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .action-button.big-btn {
    min-width: 6rem;
    height: 4rem;
    border-color: var(--primary-color);
  }

  .bio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  .outlined-text {
    position: relative;
  }

  .outlined-text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    z-index: -1;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--secondary-color);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;

  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;

  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav {
    position: fixed;
    background: var(--text-color);
    color: "white";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }

  .nav__link {
    color: inherit;
    font-weight: 900;
    font-size: 50px;
    text-decoration: none;
  }

  .nav__link:hover {
    color: "white";
  }

  .nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 1em;
    z-index: 1000;
  }

  .nav-open .nav {
    transform: translateX(0);
  }

  .nav-open .nav-toggle {
    position: fixed;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }
  @variants responsive, hover {
    .hover\:rotate-0:hover {
      transform: rotate(0deg);
    }
    .hover\:rotate-90:hover {
      transform: rotate(90deg);
    }
    .rotate-90 {
      transform: rotate(90deg);
    }
  }
}
